:root {
    --DataEchoUI-Primary: #1173d5;
    --DataEchoUI-Primary-background-color: #1173d51f;
    --DataEchoUI-Danger: #ff4c4c;
    --DataEchoUI-Danger-background-color: #ff4c4c1f;
    --DataEchoUI-disabled-color: #b2b2b3;
}

body {
    margin-right: 20px;
    margin-left: calc(15% + 40px);
    padding-top: 50px;
}

* {
    white-space: normal;
    overflow-wrap: break-word;
}

.DataEchoUI-button-Primary {
    background-color: transparent;
    color: black;
    padding: 14px 20px;
    margin: 20px 0;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: color 0.3s, border-color 0.3s;
}

.DataEchoUI-button-Primary:hover {
    color: var(--DataEchoUI-Primary);
    border-color: var(--DataEchoUI-Primary);
    background-color: var(--DataEchoUI-Primary-background-color);
}
.DataEchoUI-button-Danger {
    background-color: transparent;
    color: var(--DataEchoUI-Danger);
    padding: 14px 20px;
    margin: 20px 0;
    border: 2px solid var(--DataEchoUI-Danger);
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: color 0.3s, border-color 0.3s;
}

.DataEchoUI-button-Danger:hover {
    color: var(--DataEchoUI-Danger);
    border-color: var(--DataEchoUI-Danger);
    background-color: var(--DataEchoUI-Danger-background-color);
}
.DataEchoUI-disabled {
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.137);
    opacity: 50%;
}

.DataEchoUI-input-Primary {
    padding: 8px 0.1%;
    width: 100%;
    border: 2px solid #96c0f9;
    background-color: transparent; 
    outline: none;
    border-radius: 7px;
    transition: all 0.3s ease; 
}

.DataEchoUI-input-Primary:focus,
.DataEchoUI-input-Primary:hover {
    border-color: var(--DataEchoUI-Primary);
    background-color: var(--DataEchoUI-Primary-background-color);
}

.DataEchoUI-navbar {
    background-color: var(--DataEchoUI-Primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 0;
    top: 0; 
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}


.DataEchoUI-navbar .logo, .DataEchoUI-navbar .filler {
    flex: 1;
    text-align: center;
    color: white;
}

.DataEchoUI-navbar .logo {
    text-align: left;
    padding-left: 20px;
}

.DataEchoUI-navbar .nav-links {
    display: flex;
    justify-content: center;
    flex: 3; 
}

.DataEchoUI-navbar a { 
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.DataEchoUI-navbar a.DataEchoUI-highlight-1 { 
    color: var(--DataEchoUI-Primary);
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

.DataEchoUI-navbar a:hover {
    border-radius: 25px;
    background-color: #ffffff21;
}

.DataEchoUI-highlight-1 {

    color: var(--DataEchoUI-Primary);
    background-color: #ffffff;
    border-radius: 25px;
}
.DataEchoUI-navbar a.DataEchoUI-highlight-1:hover {
    border-radius: 25px;
    background-color: #ffffff;
}

#DataEchoUI-navbar-left {
    width: 10%;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    /*margin-top: 55px*/
}

#DataEchoUI-navbar-left a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
    position: relative;
    animation: slideInFromLeft 0.5s ease forwards;
    opacity: 0;
    transform: translateX(-100%);
}

.DataEchoUI-highlight-2 {
    color: #1370f3 !important;
    font-weight: bold;
}

.DataEchoUI-highlight-2::before {
    content: "▍";
    position: absolute;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    margin-left: 5px;
    animation: DataEchoUI-openFromCenter 0.3s ease forwards;
}


#DataEchoUI-navbar-left a:hover {
    background-color: #96bff92c
}

.acrylic-card {
    background: rgba(255, 255, 255, 0.753);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}

#DataEchoUI-navbar-left-31 {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    text-align: center;
    color: var(--DataEchoUI-Primary);
    display: flex; /* 启用flex布局 */
    flex-direction: column; /* 子元素垂直排列 */
    justify-content: flex-end; /* 子元素靠近容器的底部 */
}
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}


@keyframes DataEchoUI-openFromCenter {
    from {
        transform: translateX(-100%) scaleY(0);
    }
    to {
        transform: translateX(-100%) scaleY(1);
    }
}
@keyframes slideInFromLeft {
    0% {
    opacity: 0;
    transform: translateX(-100%);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}
